*.VC.db
*.sdf
*.opendb
*.ilk
*.pdb
*.exe
*.log
*.ipdb
*.iobj
*.tmp
*.user

*_140.*

.vs/
build/
[Bb]in/
[Bb]in_d/
x64/
x86/
Debug/
Release/
Win32/
[Tt]emp/
.mayaSwatches/
.vscode/
*.spv
GSL/
.idea
cmake
cmake-build-debug
cmake-build-release
VulkanIsland/src/VulkanIsland
VulkanIsland/include/entt/
